In [6]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [7]:
df =pd.read_csv("pricing.csv")
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  565000
4  4000       5.0    8  760000

## How to handle the missing value ?

In [9]:
import math
median_bedrooms = math.floor(df.bedrooms.median())
median_bedrooms

3

In [12]:
df.bedrooms = df.bedrooms.fillna(median_bedrooms)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       3.0   18  610000
3  3600       3.0   30  565000
4  4000       5.0    8  760000

In [13]:
reg = linear_model.LinearRegression()
reg.fit(df[["area","bedrooms","age"]],df.price)

LinearRegression()

In [14]:
reg.coef_

array([   129.75, -34275.  ,  -9075.  ])

In [15]:
reg.intercept_

472974.9999999998

In [18]:
reg.predict([[3000,4,15]])

array([589000.])

In [19]:
import pickle
pickle.dump(reg,open("house_prediction_multivalue_linear_regression","wb"))